{% extends 'BaseApp/base.html' %}

{% load static %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'BaseApp/css/admin.css' %}"> 
    {% endblock %}

    {% block content %}

        <div class="jumbotron">

            <div class="container">

                <div class="row">

                    <div class="col-8">

                        <h1 class="display-4">Hello <strong>{{user.username}}</strong></h3>
                        <p class="lead">Welcome to <strong>NOQ ADMIN</strong>.</p>

                    </div>

                    <div class="col-4">

                        <h5 align="center">Legends</h5>

                        <table id="t1" align="center">

                            <tr>
                                <td>Today</td>
                                <td style="background-color: #9e579d;"><pre>      </pre></td>
                            </tr>

                            <tr>
                                <td>Yesterday</td>
                                <td style="background-color: #574b90;"><pre>     </pre></td>
                            </tr>

                        </table>

                    </div>

                </div>

            </div>

            <!-- <hr class="my-4">

            <p>Here you can Monitor Individual Store's <strong><i>Total Retailers Price</i></strong> and <strong><i>Final Price</i></strong> of the Transactions made by the Users.</p> -->

        </div>

        <div class="container" style="margin-bottom: 50px;">

            <div class="card">

                <div class="card-header"><h5>Stores</h5></div>

                <div class="scrollable card-body" style="height:300px; overflow-y: auto;">

                    <div class="row row-cols-1 row-cols-md-3">

                        {% for store in store_data %}

                        <div class="col mb-3">

                            <div class="card h-100" id="store_card">

                                <div class="card-header">
                                    <h5>{{ store.store_name }}, {{ store.store_city }}</h5>
                                    <p>{{ store.store_address }}</p>
                                </div>

                                <div class="card-body">

                                    <div class="container">

                                        <div class="row">

                                            <div class="col-6">

                                                <h6>Total Retail Price</h6>

                                                <p class="today">₹{{ store.t_tot_retail_price }}</p>
                                                <p class="yesterday">₹{{ store.y_tot_retail_price }}</p>

                                            </div>

                                            <div class="col-6">

                                                <h6>Total Final Price</h6>

                                                <p class="today">₹{{ store.t_final_amount_paid }}</p>
                                                <p class="yesterday">₹{{ store.y_final_amount_paid }}</p>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>

    {% endblock %}