{% extends 'BaseApp/base.html' %}

    {% load static %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'BaseApp/css/profile.css' %}">
    {% endblock %}

    {% block title %}
        <title>Retailer Profile</title>
    {% endblock %}

    {% block content %}

        <div class="container">

            <div class="card" style="border-radius: 15px;">
            
                <div class="card-body">

                    <div id="media" class="container">

                        <div class="row">

                            <div class="col-8">
                                
                                <img id="p_img" class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="width: 150px; height: 150px;">

                            </div>

                            <div class="col-4">

                                <h3>{{ user.username }}</h3>
                                <h4>{{ user.email }}</h4>

                            </div>

                        </div>

                    </div>

                </div>
                
            </div>

        </div>

    {% endblock %}