<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.younoq.noq">

    <application
        android:allowBackup="true"
        android:icon="@drawable/noq_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/noq_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.younoq.noq.RefundPolicy" />
        <activity android:name="com.younoq.noq.PrivacyPolicy" />
        <activity android:name="com.younoq.noq.TermsAndConditions" />
        <activity android:name="com.younoq.noq.ContactUs" />
        <activity android:name="com.younoq.noq.AboutUs" />
        <activity android:name="com.younoq.noq.CartActivity" />
        <activity android:name="com.younoq.noq.ProductDetails" /> <!-- <service android:name="org.eclipse.paho.android.service.MqttService" /> -->
        <activity android:name="com.younoq.noq.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.younoq.noq.OTPConfirmActivity"
            android:parentActivityName="com.younoq.noq.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.younoq.noq.MainActivity" />
        </activity>
        <activity
            android:name="com.younoq.noq.UserCredentialsActivity"
            android:parentActivityName="com.younoq.noq.OTPConfirmActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:resource="@array/preloaded_fonts"
                android:value="com.younoq.noq.OTPConfirmActivity" />
        </activity>
        <activity
            android:name="com.younoq.noq.ReferralSuccessfulActivity"
            android:parentActivityName="com.younoq.noq.UserCredentialsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.younoq.noq.UserCredentialsActivity" />
        </activity>
        <activity
            android:name="com.younoq.noq.ReferralUnsuccessfulActivity"
            android:parentActivityName="com.younoq.noq.UserCredentialsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.younoq.noq.UserCredentialsActivity" />
        </activity>
        <activity
            android:name="com.younoq.noq.BarcodeScannerActivity"
            android:parentActivityName="com.younoq.noq.UserCredentialsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.younoq.noq.UserCredentialsActivity" />
        </activity>
        <activity
            android:name="com.younoq.noq.MyProfile"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.younoq.noq.MainActivity" />
        </activity>
        <activity
            android:name="com.younoq.noq.ShopDetails"
            android:parentActivityName="com.younoq.noq.BarcodeScannerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.younoq.noq.BarcodeScannerActivity" />
        </activity>
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
    </application>
    <uses-feature android:name="android.hardware.camera2.autofocus" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />

</manifest>