.container{
    margin-top: 4%;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all_time{
    background:linear-gradient(135deg, #f02fc2 0%,#6094ea 100%);
}

.yesterday{
    background:linear-gradient(135deg, #5b247a 0%,#1bcedf 100%);
}