{% extends 'LoginApp/base.html' %}

    {% load static %}
    {% load crispy_forms_tags %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'LoginApp/css/register.css' %}">
    {% endblock %}

    {% block title %}
        <title>NoQ Registration</title>
    {% endblock %}

    {% block content %}
        
            <div class="card " style="width:40%; border-radius: 20px; border: 1px solid black;" align="left">

                <!-- <div class="card-header text-white bg-dark">Register</div> -->

                    <div class="scrollable" style="margin: 2%; height:600px; overflow-y: auto;">

                        <div class="card-body">

                            <form method="post">
    
                                {% csrf_token %}
    
                                <div class="form-group">
                                    {{ form | crispy }}
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" name="submit" class="btn btn-success">Add User</button>
                                </div>
    
                                <div class="form-group">
                                    <small>
                                        Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                                    </small>
                                </div>
                            
                            </form>
                        
                        </div>

                    </div>
            
            </div>

    {% endblock %}